{{#if updateQuestionForm}}
  <h4>Update {{question.owner}}'s {{question.type}}</h4>
  <div>

    <form>
      <div class="form-group">
        <label for="user">Your Name</label>
        {{input class="form-control" value=user id="user" placeholder=question.user}}
      </div>

      <div class="form-group">
        <label for="ask">Your Question</label>
        {{input class="form-control" value=ask id="ask" placeholder=question.ask}}
      </div>

      <div class="form-group">
        <label for="notes">Share Details for your Question</label>
        {{input class="form-control" value=notes id="notes" placeholder=question.notes}}
      </div>

      <button class="btn btn-success" {{action 'saveQuestion'}}>Save</button>
    </form>

  </div>
  {{else}}
  <div class="form-group">
    <button class="btn btn-default" {{action 'updateQuestionForm'}}>Update Question</button>
  </div>
{{/if}}
