<h2>{{model.user}}'s {{model.ask}} details</h2>

{{update-question question=model update="update"}}

{{question-detail question=model destroyQuestion="destroyQuestion" destroyAnswer="destroyAnswer"}}

{{new-answer saveAnswer="saveAnswer" question=model}}
